    p{
        background-color: yellowgreen;
    }
    ul,
    li,
    h1{
	   margin:0;
	   padding:0;
	}
	
	container{
	    width: 90;
		margin: 0 auto;
	}
    header {
	    text-align: center;
		padding-top: 20px;
	    padding-bottom: 20px;
	
	
	}
    h1,
	ul,
	li  {
	    display: inline-block;
	}
	h1.first-head{
	    text-align: left;
	}
	
	
	
	
	
	
	
	
	
	 li a{
	    padding-right: 40;
		color: bisque;
	}
    li a{
	    text-decoration: none;
		color: aliceblue;
		padding: 30px;
	
	}
	li a hover{
	    color: brown;
		background-color: aliceblue;
	
	}
    ul.main-nav{
	    padding: 2%;
		text-align: center;
	
	}
    header.main-header {
	    background-color: forestgreen;
	}
    .paragraph {
	    position: absolute;
		top: 10px;
		left: 10px;
	}	
	div.container{
	    position: relative;
	}
	h3.position {
	    position: relative;
		top: 0;
		left: 5px
	}
    .banner1 {
	    height:100px;
		width: 100%;
		display: block;
	}
	
	div.container h2{
	    text-shadow: 1px 2px 2px red;
		margin-top: 1em;
		margin-bottom: 1em;
	}
	/*### About Section ### */
	
	#post {
	    background-color: rgba(212, 62, 36, 0.4);
		padding: 10px;
	}
	
	
	
	